<!DOCTYPE html>
<html>

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="{% static 'SurfersBible/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'SurfersBible/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Articale-List-With-Image-Zoom.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Bold-BS4-CSS-Image-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/card-3-column-animation-shadows-images.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Card-slider-sk.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Contact-Form-v2-Modal--Full-with-Google-Map.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Navbar-Fixed-Side.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Swiper-Slider-Card-For-Blog-Or-Product.css' %}">

</head>

<body>
  <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-white text-monospace clean-navbar">
      <div class="container"><a class="navbar-brand logo" href="/Users/xiejia/Desktop/v2 /index.html" style="color: rgba(13,75,132,0.9);font-family: Aclonica, sans-serif;"><strong>SURFERS' BIBLE</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div
              class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="/Users/xiejia/Desktop/v2 /explorebeach.html" style="color: rgba(13,75,132,0.9);">eXPLORE BEACH</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="/Users/xiejia/Desktop/v2 /emergencyservice.html" style="color: rgba(13,75,132,0.9);">eMERGENCY sERVICE</a></li>
                  <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgba(13,75,132,0.9);">oTHER sUPPORT&nbsp;</a>
                      <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/Users/xiejia/Desktop/v2 /surfboard.html">Surfing GuildLline</a></div>
                  </li>
              </ul>
      </div>
      </div>
  </nav>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Latest Articles</h2>
            </div>
            <div>
                <div class="container-fluid" style="font-family: Montserrat, sans-serif;">
                    <h2 style="color: rgb(94,146,198);"><em>Explore Beach Arround You</em></h2>
                    <form id="contactForm" action="shark" method="POST">
							{% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6">
                                <div id="successfail"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6" id="message">
                                <h2 class="h4" style="color: rgb(94,146,198);"><i class="fa fa-map-pin"></i> Current Location</h2>
									<button class="btn btn-primary btn-block" id="location button" onclick="getLocation()" type="button"> Allow GPS Location </button>
									<hr class="d-flex d-md-none">
									<script>
									var clicked = false;
									var allowGeoRecall = true;
										function checkfunc(){
											
											if ((!clicked) && (document.getElementById('text address').value === "")){
												var form = document.getElementById("locationForm");
												function handleForm(event) { event.preventDefault(); } 
												form.addEventListener('submit', handleForm);
												<!-- console.log("correct"); -->
												<!-- alert("not location provided"); -->
											}
											<!-- else if (document.getElementById('text address').value === "") -->
										}
										function getLocation() {
											clicked = true
											if (navigator.geolocation) {
											navigator.geolocation.getCurrentPosition(showPosition, positionError);
											} 
											else { 
											console.log("Geolocation is not supported by this browser.");
											}
										}
										function positionError() {  
											alert("You have not allowed the location access of the site. Please change the setting and realod the page")
										}

										function showPosition(position) {
											console.log(position.coords.latitude);
											console.log(position.coords.longitude);
											allowGeoRecall = false;
											document.getElementById('latitude').value =position.coords.latitude;
											document.getElementById('longitude').value =position.coords.latitude;
											<!-- var geo_data = JSON.parse("{{ beaches|escapejs }}"); -->
											<!-- var data = []; -->
											<!-- for (var key in geo_data) { -->
												<!-- if (geo_data.hasOwnProperty(key)) { -->
													<!-- data.push(geo_data[key]); -->
												<!-- } -->
											<!-- } -->
											<!-- console.log(data) -->
										}
									</script>
								<!-- <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpGApqM5paows4rNCIeGGKeJ9o0QieVcc&amp;q=melbourne&amp;zoom=15" width="100%"> --> 
                                    <!-- height="450"></iframe> -->
                                <hr class="d-flex d-md-none">
                            </div>
                            <div class="col">
                                <h2 class="h4" style="color: rgb(94,146,198);"><i class="fa fa-calendar"></i>&nbsp;Your Ideal Date&nbsp;<small><small class="required-input">&nbsp;(*required)</small></small>
                                </h2>
                                <div class="form-row">
                                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div><select class="form-control" id="from-calltime" name="call time" onchange="val()"><optgroup label="Best day"><option value="Today" selected="">Today</option><option value="Tomorrow">Tomorrow</option><option value="Two days after">Two days after</option><option value="Three days after">Three days after</option><option value="Four days after">Four days after</option><option value="Five days after">Five days after</option></optgroup></select></div>
                                        </div>
                                    </div>
                                </div>
									<script>
										function val(){
										
											var e = document.getElementById("from-calltime");
											var strUser = e.options[e.selectedIndex].value;
											document.getElementById('selected date').value =strUser;
											console.log(strUser);
										}
									</script>
									<input type="hidden" id="latitude" name="latitude" value="">
									<input type="hidden" id="longitude" name="longitude" value="">
									<input type="hidden" id="selected date" name="selected date" value="">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col"><button class="btn btn-primary btn-block" type="reset"><i class="fa fa-undo"></i> Reset</button></div>
                                        <div class="col"><button class="btn btn-primary btn-block" type="submit" onclick="checkfunc();">Submit <i class="fa fa-chevron-circle-right"></i></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Contact Information</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <form id="contactForm" action="javascript:void(0);" method="get"><input class="form-control" type="hidden" name="Introduction" value="This email was sent from www.awebsite.com"><input class="form-control" type="hidden" name="subject" value="Awebsite.com Contact Form"><input class="form-control"
                                        type="hidden" name="to" value="email@awebsite.com">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div id="successfail"></div>
                                        </div>
                                    </div>

                                          <div class="form-group">
                                              <div class="form-row">
                                                  <div class="col"><button class="btn btn-primary btn-block" type="reset"><i class="fa fa-undo"></i> Reset</button></div>
                                                  <div class="col"><button class="btn btn-primary btn-block" type="submit">Submit <i class="fa fa-chevron-circle-right"></i></button></div>
                                              </div>
                                          </div>
                                          <hr class="d-flex d-md-none">
                                      </div>
                                      <div class="col-12 col-md-6">
                                          <h2 class="h4"><i class="fa fa-location-arrow"></i> Currentlocation</h2>
                                          <div class="form-row">
                                              <div class="col-12">
                                              </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div></div>
            <div></div>
			
				
				
			
            <div class="row articles">
				{% for beach in beaches %}
                <div class="col-sm-6 col-md-4 item">
                    <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="/static/SurfersBible/images/{{ beach.imgurl }}.jpg"></div>
                    <h3 class="name" style="color: rgb(94,146,198);">{{beach.beach_name}}</h3>
						{% for predict in prediction %}
							{% if predict.beach_name == beach.beach_name %}
                    <p class="text-left description" style="color: rgb(94,146,198);">Distance :<strong>{{beach.distance}} Km</strong><br>Shark Attack :&nbsp;<strong>&nbsp;</strong><i class="fa fa-smile-o" style="color: rgb(195,133,11);font-size: 26;"></i>&nbsp;<strong>{{predict.shark_attack_level}}</strong><br>Shark Present Probability&nbsp; :&nbsp;<strong>{{predict.shark_sighting_level}}</strong><br>Nearest
                        Hospital&nbsp; : <strong>60KM</strong>&nbsp;<br>Today's Temputure : <strong>20c&nbsp;</strong><br>Tide: <strong>Low&nbsp;</strong></p>
							{% endif %}
						{% endfor %}
					<div class="btn-toolbar">
                        <div class="btn-group" role="group"><button class="btn btn-primary" type="submit" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="http://maps.google.co.uk/maps?daddr={{ beach.latitude }},{{ beach.longitude }}style="color: rgb(232,235,238);">Beach Direction</a>&nbsp;</button><button class="btn btn-primary"
                                type="submit" style="background-color: rgb(86,160,102);opacity: 0.73;filter: blur(0px) brightness(109%) contrast(120%) grayscale(36%) hue-rotate(0deg) invert(0%) saturate(109%) sepia(0%);"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(244,245,247);">Forecast &amp; Analysis</a></button></div>
                        <div
                            class="btn-group" role="group"></div>
                </div><a class="action" href="#"></a></div>
				{% endfor %}
            <!-- <div class="col-sm-6 col-md-4 item"> -->
                <!-- <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="assets/img/6.jpg"></div> -->
                <!-- <h3 class="name" style="color: rgb(94,146,198);"><strong>Rye Beach</strong></h3> -->
                <!-- <p class="text-left description" style="color: rgb(94,146,198);">Distance :&nbsp; <strong>60 Km</strong><br>Shark Attack :&nbsp;<i class="fa fa-smile-o" style="color: rgb(195,133,11);font-size: 26;"></i>&nbsp;<strong>(Low risk)</strong><br>Shark Present Probability Of :<strong>20%&nbsp;</strong><br>Nearest -->
                    <!-- Hospital&nbsp; :&nbsp;<strong>60KM</strong>&nbsp;<br>Today's Temputure :&nbsp;<strong>20c&nbsp;</strong><br>Tide:&nbsp;<strong>Low&nbsp;&nbsp;</strong></p> -->
                <!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /direction.html" style="color: rgb(241,244,247);">Beach Direction</a>&nbsp;</button><button class="btn btn-primary" type="button" -->
                        <!-- style="color: rgb(250,252,250);opacity: 0.73;background-color: rgb(86,160,102);"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(239,243,248);">Forecast &amp; Analysis</a></button></div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-6 col-md-4 item"> -->
                <!-- <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="assets/img/5.jpg"></div> -->
                <!-- <h3 class="name" style="color: rgb(94,146,198);">Allans Beach<br></h3> -->
                <!-- <p class="text-left description" style="color: rgb(94,146,198);">Distance :&nbsp; <strong>400&nbsp;Km</strong><br>Shark Attack :&nbsp;<i class="fa fa-smile-o" style="color: rgb(195,133,11);font-size: 26;"></i><strong>&nbsp;(Low risk)&nbsp;</strong><br>Shark Present Probability&nbsp; :&nbsp;<strong>20%&nbsp;</strong><br>Nearest -->
                    <!-- Hospital&nbsp; :&nbsp;<strong>60KM</strong>&nbsp;<br>Today's Temputure :&nbsp;<strong>20c&nbsp;</strong><br>Tide:&nbsp;<strong>Low&nbsp;</strong><br></p> -->
                <!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /direction.html" style="color: rgb(241,243,244);">Beach Direction</a></button><button class="btn btn-primary" type="button" -->
                        <!-- style="color: rgb(250,252,250);opacity: 0.73;background-color: rgb(86,160,102);"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(233,237,242);">Forecast &amp; Analysis</a></button></div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-6 col-md-4 item"> -->
                <!-- <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="assets/img/photo-1460075058201-d3a63e639f68.jpg"></div> -->
                <!-- <h3 class="name" style="color: rgb(94,146,198);">Port Melbourne Beach<br></h3> -->
                <!-- <p class="text-left description" style="color: rgb(94,146,198);">Distance :&nbsp;&nbsp;<strong>600 Km</strong><br>Shark Attack :&nbsp;<strong>&nbsp;</strong><i class="fa fa-frown-o" style="color: rgb(230,35,35);"></i><strong>(High risk)&nbsp;&nbsp;</strong><br>Shark Present Probability :&nbsp;<strong>60%&nbsp;</strong><br>Nearest -->
                    <!-- Hospital&nbsp; :&nbsp;<strong>40KM</strong>&nbsp;<br>Today's Temputure :&nbsp;<strong>20c&nbsp;</strong><br>Tide:&nbsp;<strong>Low&nbsp;</strong><br></p> -->
                <!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /direction.html" style="color: rgb(249,250,251);">Beach Direction</a>&nbsp;</button><button class="btn btn-primary" type="button" -->
                        <!-- style="background-color: rgb(86,160,102);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(244,246,248);">Forecast &amp; Analysis</a></button></div> -->
            <!-- </div> -->
            <!-- <div class="col-sm-6 col-md-4 item"> -->
                <!-- <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="assets/img/jared-rice-k3pYa0CDLl0-unsplash.jpg"></div> -->
                <!-- <h3 class="name" style="color: rgb(94,146,198);">Dog Friendly Beach</h3> -->
                <!-- <p class="text-left description" style="color: rgb(94,146,198);">Distance :&nbsp; <strong>600 Km</strong><br>Shark Attack :&nbsp;<i class="fa fa-frown-o" style="color: rgb(230,35,35);"></i><strong>&nbsp;(High risk)&nbsp;&nbsp;</strong><br>Shark Present Probability :&nbsp;<strong>60%&nbsp;</strong><br>Nearest -->
                    <!-- Hospital&nbsp; : <strong>40KM</strong>&nbsp;<br>Today's Temputure :&nbsp;<strong>20c&nbsp;</strong><br>Tide:&nbsp;<strong>Low&nbsp;</strong></p> -->
                <!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /direction.html" style="color: rgb(241,245,249);">Beach Direction</a></button><button class="btn btn-primary" type="button" -->
                        <!-- style="background-color: rgb(86,160,102);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(238,242,247);">Forecast &amp; Analysis</a></button></div><a class="action" href=""></a></div> -->
            <!-- <div class="col-sm-6 col-md-4 item" style="color: rgb(94,146,198);"> -->
                <!-- <div class="zoomin frame" style="width:100%;height:236px;"><img style="width:100%;height:236px;" src="assets/img/9.png"></div> -->
                <!-- <h3 class="name">Moniton Beach</h3> -->
                <!-- <p class="text-left description" style="color: rgb(94,146,198);">Distance :&nbsp; <strong>800 Km</strong><br>Shark Attack :&nbsp;<i class="fa fa-frown-o" style="color: rgb(230,35,35);"></i>&nbsp;<strong>(High risk)&nbsp;&nbsp;</strong><br>Shark Present Probability&nbsp; :&nbsp;<strong>70%&nbsp;</strong><br>Nearest -->
                    <!-- Hospital&nbsp; :&nbsp;<strong>60KM</strong>&nbsp;<br>Today's Temputure :&nbsp;<strong>20c&nbsp;</strong><br>Tide:&nbsp;<strong>Low&nbsp;</strong></p> -->
                <!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgb(105,152,201);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /direction.html" style="color: rgb(232,236,241);">Beach Direction</a></button><button class="btn btn-primary" type="button" -->
                        <!-- style="background-color: rgb(86,160,102);opacity: 0.73;"><a href="/Users/xiejia/Desktop/v2 /forcast.html" style="color: rgb(241,243,247);">Forecast &amp; Analysis</a></button></div><a class="action" href=""></a></div> -->
        </div>
    </div>
    </div>
    <main class="page"></main>
    <footer style="background-color: rgba(13,75,132,0.9);">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="/Users/xiejia/Desktop/v2 /index.html">Aqua<span style="color: rgb(15,13,147);">Wizards</span></a></h3>
                <p class="company-name">AquaWizards © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p> Melbourne, Australia</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="/Users/xiejia/Desktop/v2 /contact-us.html" target="_blank" style="color: rgb(233,233,239);">AquaWizards@gmail.com&nbsp;</a></p>
                    <p class="company-name"></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About Us</h4>
                <p style="color: rgb(234,237,239);"> The project team “Aqua Wizards” is a professional website development team founded by a group of students who are motivated to create innovative technology products to deal with issues of water injury and committed to reducing 10% surfing
                    injury or accident in Australia per year. </p>
            </div>
        </div>
    </footer>
    <script src="{% static 'SurfersBible/js/jquery.min.js' %}"></script>
    <script src="{% static 'SurfersBible/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/chart.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'SurfersBible/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/theme.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Card-slider-sk.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Swiper-Slider-Card-For-Blog-Or-Product.js' %}"></script>
</body>

</html>
