<!DOCTYPE html>
<html>

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'SurfersBible/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'SurfersBible/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Articale-List-With-Image-Zoom.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Bold-BS4-CSS-Image-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/card-3-column-animation-shadows-images.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Card-slider-sk.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Contact-Form-v2-Modal--Full-with-Google-Map.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Navbar-Fixed-Side.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Swiper-Slider-Card-For-Blog-Or-Product.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-white text-monospace clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/Users/xiejia/Desktop/v2 /index.html" style="color: rgba(13,75,132,0.9);font-family: Aclonica, sans-serif;"><strong>SURFERS' BIBLE</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/Users/xiejia/Desktop/v2 /explorebeach.html" style="color: rgba(13,75,132,0.9);">eXPLORE BEACH</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/Users/xiejia/Desktop/v2 /emergencyservice.html" style="color: rgba(13,75,132,0.9);">eMERGENCY sERVICE</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgba(13,75,132,0.9);">oTHER sUPPORT&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/Users/xiejia/Desktop/v2 /surfboard.html">Surfing GuildLline</a></div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="article-list"></div>
    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgb(255,255,255);">
            <div class="container">
                <div class="block-heading">
                    <section id="carousel">
                        <div class="carousel slide" data-ride="carousel" id="carousel-1">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item">
                                    <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-image: url({% static 'SurfersBible/images/board.jpg' %});">
                                        <h1 class="hero-title">Shark Attack &amp; Sight Prediction</h1>
                                        <p class="hero-subtitle" style="color: rgb(143,23,23);"><em>Your Safety In The Sea Is Our Priority</em></p>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="jumbotron pulse animated hero-photography carousel-hero" style="background-image: url({% static 'SurfersBible/images/board.jpg' %});">
                                        <h1 class="hero-title">Victory Beaches&nbsp;</h1>
                                        <p class="hero-subtitle" style="color: rgb(143,23,23);"><em>The Most Safety Beach List For Your Journey</em></p>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <div class="jumbotron pulse animated hero-technology carousel-hero" style="background-image: url({% static 'SurfersBible/images/board.jpg' %});">
                                        <h1 class="hero-title">Emergency Support</h1>
                                        <p class="hero-subtitle" style="color: rgb(143,23,23);">The Nearest Hospital Recommendations Provided When You Need</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                                    data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-1" data-slide-to="0"></li>
                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
                            </ol>
                        </div>
                    </section>
                    <h2 class="text-info" style="color: rgba(13,75,132,0.9);font-family: Aclonica, sans-serif;">Our Service</h2>
                  <p style="font-family: Montserrat, sans-serif;color: rgba(13,75,132,0.9);font-size: 16;">&nbsp;<strong>we provide the best service&nbsp; to improve your safty .&nbsp; If its your first time to surf , Please&nbsp; &nbsp;</strong><i class="fa fa-hand-pointer-o" style="color: rgba(136,7,7,0.9);"></i><strong>&nbsp;</strong>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Click Me To Get Help !
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Do you need basic surfing guildline?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   If you have no idea about your surfing equipments, don't worry ! We will help you !
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore It</button>
                  <a href="/Users/xiejia/Desktop/v2 /surfboard.html"> <button type="button" class="btn btn-primary">Surfing Guildline</button></a>
                  </div>
                </div>
              </div>
            </div>
                  </p>
                </div>
            </div>
            <div></div>
            <div class="container">
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item"><a href="/Users/xiejia/Desktop/v2 /forcast.html"><img class="img-fluid" src="{%static 'SurfersBible/images/shark.jpg' %}"></a>
                        <h3 class="name" style="color: rgb(22,85,149);font-size: 20;">Shark Prediction</h3>
                        <p class="description">We provide seven days of&nbsp; shark attack and&nbsp; presence prediction based on the historical global shark attack. Please check the risk evaluation and sighting probability to make your surfing decision.</p><a class="action"
                            href="/Users/xiejia/Desktop/v2 /forcast.html"><i class="fa fa-arrow-circle-right"></i></a></div>

                    <div class="col-sm-6 col-md-4 item"><a href="/Users/xiejia/Desktop/v2 /emergencyservice.html"><img class="img-fluid" src="{%static 'SurfersBible/images/emergency.jpg' %}"></a>
                        <h3 class="name" style="color: rgb(22,85,149);">Emergency Service</h3>
                        <p class="description">We provide the nearest hospital recommendation by distance and waiting time analysis. Please check it to find the nearest emergency service if you get an injury during surfing.<br></p><a class="action" href="/Users/xiejia/Desktop/v2 /emergencyservice.html"><i class="fa fa-arrow-circle-right"></i></a></div>
                    <div
                        class="col-sm-6 col-md-4 item" style="font-size: 14;"><a href="/Users/xiejia/Desktop/v2 /surfboard.html"><img class="img-fluid" src="{%static 'SurfersBible/images/board.jpg' %}"></a>
                        <h3 class="name" style="color: rgb(22,85,149);">Surfing Guildline</h3>
                        <p class="description">We provide a basic surfboard guideline and checklist to ensure your safety during surfing. These simple steps and checklist will save your time and money by eliminating unnecessary mistakes.</p><a class="action" href="/Users/xiejia/Desktop/v2 /surfboard.html"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            </div>
            <div></div>
        </section>
    </main>
    <footer style="background-color: rgba(13,75,132,0.9);">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="/Users/xiejia/Desktop/v2 /index.html">Aqua<span style="color: rgb(15,13,147);">Wizards</span></a></h3>
                <p class="company-name">AquaWizards © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p> Melbourne, Australia</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="/Users/xiejia/Desktop/v2 /contact-us.html" target="_blank" style="color: rgb(233,233,239);">AquaWizards@gmail.com&nbsp;</a></p>
                    <p class="company-name"></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About Us</h4>
                <p style="color: rgb(234,237,239);"> The project team “Aqua Wizards” is a professional website development team founded by a group of students who are motivated to create innovative technology products to deal with issues of water injury and committed to reducing 10% surfing
                    injury or accident in Australia per year. </p>
            </div>
        </div>
    </footer>
    <script src="{% static 'SurfersBible/js/jquery.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/chart.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'SurfersBible/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/theme.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Card-slider-sk.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Swiper-Slider-Card-For-Blog-Or-Product.js' %}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
