<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'SurfersBible/img/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'SurfersBible/img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'SurfersBible/img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'SurfersBible/img/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'SurfersBible/img/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>news</title>
    <link rel="stylesheet" href="{% static 'SurfersBible/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'SurfersBible/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Articale-List-With-Image-Zoom.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Bold-BS4-CSS-Image-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/card-3-column-animation-shadows-images.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Card-slider-sk.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Contact-Form-v2-Modal--Full-with-Google-Map.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Navbar-Fixed-Side.css' %}">
    <link rel="stylesheet" href="{% static 'SurfersBible/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body style="background-color: rgb(251,251,251);">
  <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-white text-monospace clean-navbar">
      <div class="container"><a class="navbar-brand logo" href="index" style="color: rgba(13,75,132,0.9);font-family: Aclonica, sans-serif;"><strong>SURFERS' SENSE</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div
              class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
					<li class="nav-item" role="presentation"><a class="nav-link active" href="shark" style="color: rgba(13,75,132,0.9);">Explore Beach</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="board" style="color: rgba(13,75,132,0.9);">SURFING GEARS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="news" style="color: rgba(13,75,132,0.9);">Surfing News </a></li>
					   <li class="nav-item" role="presentation"><a class="nav-link active" href="emergency" style="color: rgba(13,75,132,0.9);">Emergency Service</a></li>
              </ul>
      </div>
      </div>
  </nav>
  <br><br><br><br><br>
  <div class="map-clean">
      <div class="container" style="background-color: #ffffff;">
          <div class="intro">
              <h2 class="text-center" style="color: rgb(10,72,133);">Surfing News&nbsp;</h2>
              <!-- <p class="text-center"></p> -->
          </div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">All surfing news</a> -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
              <!-- <span class="navbar-toggler-icon"></span> -->
            <!-- </button> -->

            <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
                  <a class="nav-link" href="news">All Surfing News <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sharknews">Shark Attack <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="jellyfishnews">Jelly Fish Incidents<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="ripcurrentnews">Rip Current Incidents<span class="sr-only"></span></a>
                </li>
					<li class="nav-item">
					  <a class="nav-link" href="surfingnewsaustralia">Surfing News Australia<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
                  <a class="nav-link" href="surfingcompetitionnews">Surfing Competition News<span class="sr-only"></span></a>
					</li>
					
              </ul>

            </div>
          </nav><br>
      </div>
  </div>
  <section class="clean-block clean-blog-list dark" style="background-color: rgb(254,254,254);">

          <div></div>
          <div></div>
          <div></div>
{% for news in allnews %}
<section class="container">
<div class="card mb-3" style="max-width: 1140px;">
<div class="row no-gutters">
  <div class="col-md-4">
    <img src="{{ news.urltoimage }}" class="card-img" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
    <a href="{{ news.url }}"><h5 class="card-title">{{news.title}}</h5></a>
      <p class="card-text">
{{news.description}}</p>
      <p class="card-text"><small class="text-muted">{{news.publishedat}}</small></p>
    </div>
  </div>
</div>
</section>
{% endfor %}
</section>
<footer style="background-color: rgba(13,75,132,0.9);">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="index">Aqua<span style="color: rgb(15,13,147);">Wizards</span></a></h3>
            <p class="company-name">AquaWizards © 2020</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p> Melbourne, Australia</p>
            </div>
            <!-- <div><i class="fa fa-envelope footer-contacts-icon"></i> -->
                <!-- <p> <a href="/Users/xiejia/Desktop/v2 /contact-us.html" target="_blank" style="color: rgb(233,233,239);">AquaWizards@gmail.com&nbsp;</a></p> -->
                <!-- <p class="company-name"></p> -->
            <!-- </div> -->
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About Us</h4>
            <p style="color: rgb(234,237,239);"> The project team “Aqua Wizards” is a professional team of Data Scientists, Data Engineers, Business Analysts and developers founded by a group of students who are motivated to create innovative technology products to deal with issues injury around water and committed to reducing 10% surfing injury or accident in Australia per year. </p>
        </div>
    </div>
</footer>
    <script src="{% static 'SurfersBible/js/jquery.min.js' %}"></script>
    <script src="{% static 'SurfersBible/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/chart.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'SurfersBible/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'SurfersBible/js/theme.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Card-slider-sk.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}"></script>
    <script src="{% static 'SurfersBible/js/Swiper-Slider-Card-For-Blog-Or-Product.js' %}"></script>
</body>
</html>
